header{
    display: grid;
   grid-template-rows: 1fr 1fr;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 16px;
}

main h2{
    grid-column: 1/ span 2
}

/* Class Selectors */
.page {
    max-width: 960px;
    margin: 0 auto;
  }

.name{
    float: left 20px;
}