@media screen and (min-width: 500px){
    body {
        max-width: 90%;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        justify-content: space-between;
        width: 60%;
        margin: 0 auto;
        margin-right: 0;

    }

    nav img {
        height: 60px;
    }

    nav li {
        padding: .5rem;
        text-align-last: center;
        display: flex;
    }
    

    .navigation {
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }

    .hero {
        width: 100%;
    }

    .weather_current {
        width: 75%;
        margin: 5rem auto; 

    }

    .weather_section h2 {
        text-align: center;
    }

    .weather_grid {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .forecast_div {
        width: 100%;
        text-align: center;
        align-content: center;
        border-right: 1px solid #333;
    }

    .forecast_div img {
        margin: 0 auto;
    }

    .forecast_div span, .forecast_div img {
        display: block;
    }


    .current_events {
        width: 70%;
        padding: 0 2rem;
        border: 1px solid black;
        margin: 0 auto;
        font-size: 2rem;
        text-align: center;

    }

    .banner {
        position: absolute;
        right: 282px;
    }

    .spotlight_ads {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        margin: 5rem 0;

    }

    .company {
        padding: 1rem;
    }

    .company img {
        width: 35%;
    }

    .call_to_action {
        text-align: center;
    }


    /* Discover Page*/

    .discover_page h1 {
        text-align: center;
        background-color: #ECF0F3;
        padding: 1em;
        padding: 1rem;
    }

    .dis_sites h2 {
        text-align: center;
    }

    .discover_page_main {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .left_sidebar {
        background-color: #0067CB;
        color: white;
        padding: 2rem;
    }

    .sites_container {
        display: flex;
        margin: 1em;
    }


    .sites1 h3, p {
        width: 80%;
    }
}