
body {
    max-width: 850px;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: .5fr auto auto 1fr;
    column-gap: 10px;
    background-color: rgb(199, 221, 233);
    padding: 1rem;


}

header img {
    grid-column: 2 / 4;
}

nav{
    background-color: black;
    color: white;
    padding: .5rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;

  }

 nav li {
    margin-left: 125px;
    list-style-type: none;
  }

/*
nav a {
    display: block;
    padding: 1rem;
    font-size: 1.3rem;
    text-decoration: none;
  }

  /*
nav a:hover {
    background-color: #efe59d;
    color: black;
  }  */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 16px;
}

main h2 {
    grid-column: 1/ span 2
}
