body {
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-columns: .5fr auto auto 1fr;
    column-gap: 10px;
    background-color: rgb(199, 221, 233);
    padding: 1rem;

}

header img {
    grid-column: 2 / 4;
}

nav {
    background-color: rgb(180, 172, 172);
    padding: .5rem;
    align-items: center;
}

nav ul {
    justify-content: space-around;
    padding: 0;
}

nav ul, a {
    flex-direction: column;
    margin: 0;

}

li {
    list-style-type: none;
}

nav li {
    padding: .5rem;
    text-align-last: center;
    display: none;
}


li a {
    text-decoration: none;
    color: black;
}

nav li a{
    display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
}

nav li a:hover {
    background-color: #efe59d;
    color: black;
}

li a:hover {
    font-weight: 700;
}
    
.overlay {
    display: none;
}

.hero img{
    width: 100%;
    height: auto;
    grid-column: 1 / span 3;
}

.learning_information {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    row-gap: 16px;
}

main h2 {
    grid-column: 1/  2;
}

main h3 {
    background-color: rgb(199, 221, 233);
    text-align: center;
    margin: 0;
    padding: 0.5rem;

}

iframe {
    width: 100%;
    margin-top: 1em;
}

footer {
    border: 1px solid black;
    background-color: rgb(199, 221, 233);
    margin-top: 1rem;
    padding: .5rem;
    align-items: center;

}

/* Class Selectors */

.card {
    border: 1px solid black;
    box-shadow: 20px 20px 50px grey;
}

.card p {
    text-align: center;
    padding: 1rem;
}

.card figure {
    display: flex;
}

.card li a{
    padding: .5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
