
@media screen and (min-width: 500px){
    body {
        max-width: 80%;
        margin: auto;
    }

    header {
        display: grid;
        grid-template-columns: .5fr auto auto 1fr;
        column-gap: 10px;
        padding: 1rem;
    
    }

    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

    .learning_information {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 16px;
    }

    .overlay {
        position: absolute;
        left: 300px;
        bottom: 280px;
    
    }

    main h2 {
        grid-column: 1/ span 2
    }

    iframe {
        margin-top: 0;
    }
    
    .overlay {
        position: absolute;
        left: 150px;
        bottom: 390px;
        display: block;
    }


}

/* Class Selectors */
